<!doctype html >
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<title>Farmacias de Turno</title>
<h3>Farmacias</h3>
<div class="container" class="w3-container" style="width: 80%; background-color:#b9bae6; align-content:center">
    <div class="row"  class="w3-table w3-bordered w3-striped">
        <div class="col-md-12">
                <div class="col-md-6">
                        <input type="radio" value="2" name="optionButtonFiltroInicial" (click)="optionSelectionFiltro($event.target.value)" > Buscar Todas las Farmacias
                    </div>
                <div class="col-md-6">
                    <input type="radio" value="1" name="optionButtonFiltroInicial" (click)="optionSelectionFiltro($event.target.value)"> Buscar Farmacias de Turno
                </div>


              
        </div>
    </div>
</div>
<div class="container" *ngIf="mostrarPanelPrincipal" class="w3-container" style="width: 80%; background-color:#b9bae6; align-content:center">

        <div class="row">
                <table class="w3-table w3-bordered w3-striped"> 
                    <tr>
                        <td ><label class="label">Región: </label></td>
                        <td ><select (change)="filterComunasByRegion($event.target.value)">
                                <option value="0">Elija Región</option>
                                <option value="1">Región de Arica</option>
                                <option value="2">Región de Tarapacá</option>
                                <option value="3">Región de Antofagasta</option>
                                <option value="4">Región de Atacama</option>
                                <option value="5">Región de Coquimbo</option>
                                <option value="6">Región de Valparaíso</option>
                                <option value="7">Región Metropolitana</option>
                                <option value="8">Región del Libertador Bernardo O'Higgins</option>
                                <option value="9">Región del Maule</option>
                                <option value="16">Región de Ñuble</option>
                                <option value="10">Región del Bío Bío</option>
                                <option value="11">Región de la Araucanía</option>
                                <option value="12">Región de los Ríos</option>
                                <option value="13">Región de los Lagos</option>
                                <option value="14">Región de Aisén</option>
                                <option value="15">Región de Magallanes</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td><label class="label">Comunas: </label></td>
                        <td><select (change)="filterFarmaciasByComuna($event.target.value)">
                                <option value="0">Elija Comuna</option>
                                <option *ngFor="let comuna of listaComunasByRegion" value={{comuna.id}}>
                                        {{comuna.nombre}}
                                      </option>
                        </select></td>
                    </tr>

                </table>
        </div>
        <div class="row" *ngIf="comunaSeleccionada" class="w3-table w3-bordered w3-striped">
                <div class="col-md-12">
                        <div class="col-md-6">
                            <input type="radio" value="1" name="optionButton" (click)="optionSelection($event.target.value)"> Búsqueda Farmacia por Combo
                        </div>
                        <div class="col-md-6">
                            <input type="radio" value="2" name="optionButton" (click)="optionSelection($event.target.value)" > Búsqueda Farmacia por Nombre
                        </div>

                      
                </div>
        </div>
        <div class="row" *ngIf="mostrarBusquedaPorCombo" class="w3-table w3-bordered w3-striped">
            <table>
                <tr>
                    <td><label class="label">Farmacias: </label></td>
                    <td><select (change)="selectFarmacia($event.target.value)">
                            <option value="0">Elija Farmacia</option>
                            <option *ngFor="let farmacia of listaFarmaciasPorComuna" value={{farmacia.localId}}>
                                    {{farmacia.localNombre}} - {{farmacia.localDireccion}}
                                    </option>
                    </select></td>
                    
                </tr>
            </table>
        </div>        
        <div class="row" *ngIf="mostrarBusquedaPorTexto">
            
                <table>
                    <tr>
                        <td><label class="label">Nombre: </label></td>
                        <td> <input  type="text"  name="busqueda" [(ngModel)]="busqueda" (ngModelChange)="busqueda = $event" name="busqueda" maxlength="100">
                        </td>
                        <td> <button   (click)="buscar()">Buscar</button></td>
                    </tr>
                    
                </table>
        </div>
        <p></p>
        <div class="container" *ngIf="mostrarResultadoCombo" class="w3-container" style="width: 50%; background-color:#b9bae6; align-content:center">
                <table border="1" class="w3-table w3-bordered w3-striped">
                        <tr>
                          <td style="background-color:#bbbce9">Nombre de local:</td>
                          <td  style="background-color:#bbbce9">{{ farmaciaSeleccionada.localNombre }}</td>
                        </tr>
                        <tr>
                            <td style="background-color:#bbbce9">Dirección:</td>
                            <td  style="background-color:#bbbce9">{{ farmaciaSeleccionada.localDireccion }}</td>
                        </tr>
                        <tr>
                            <td style="background-color:#bbbce9">Teléfono:</td>
                            <td  style="background-color:#bbbce9">{{ farmaciaSeleccionada.localTelefono }}</td>
                        </tr>
                        <tr>
                            <td style="background-color:#bbbce9">Latitud:</td>
                            <td  style="background-color:#bbbce9">{{ farmaciaSeleccionada.localLat }}</td>
                        </tr>
                        <tr>
                                <td style="background-color:#bbbce9">Longitud:</td>
                                <td  style="background-color:#bbbce9">{{ farmaciaSeleccionada.localLng }}</td>
                            </tr>
                      </table>

                 
        </div>
        <div class="container" *ngIf="mostrarResultadoTexto"  class="w3-container" style="background-color:#b9bae6; align-content:center">
                <table border="1" class="w3-table w3-bordered w3-striped">
                        <tr>
                          <td style="background-color:#bbbce9">Nombre de local</td>
                          <td style="background-color:#bbbce9">Dirección</td>
                          <td style="background-color:#bbbce9">Teléfono</td>
                          <td style="background-color:#bbbce9">Latitud</td>
                          <td style="background-color:#bbbce9">Longitud</td>
                        </tr>
                        <tr *ngFor="let farmacia of listaFarmaciasTexto">
                                <td  style="background-color:#bbbce9">{{ farmacia.localNombre }}</td>
                                <td  style="background-color:#bbbce9">{{ farmacia.localDireccion }}</td>
                                <td  style="background-color:#bbbce9">{{ farmacia.localTelefono }}</td>
                                <td  style="background-color:#bbbce9">{{ farmacia.localLat }}</td>
                                <td  style="background-color:#bbbce9">{{ farmacia.localLng }}</td>
                        </tr>
                        <tr>
                            <td style="background-color:#bbbce9"></td>
                            <td style="background-color:#bbbce9"></td>
                            <td style="background-color:#bbbce9"></td>
                            <td style="background-color:#bbbce9"></td>
                            <td style="background-color:#bbbce9"></td>
                          </tr>
                      </table>

                 
        </div>
        <div class="container" *ngIf="mostrarError"  class="w3-container" style=" background-color:#b9bae6; align-content:center">
            <label class="label" style="font-size: 14pt; font-style: italic;">Ocurrió un error al realizar la operación. Por favor intente mas tarde. {{error}} </label>
        </div>
        <div class="container" *ngIf="mostrarNoHayRegistros"  class="w3-container" style=" background-color:#b9bae6; align-content:center">
            <label class="label" style="font-size: 14pt; font-style: italic;">No se encontró Información con los parámetros de búsqueda utilizados.</label>
        </div>
        
    </div>
    

